# Ignore all 
* 

# Unignore all with extensions *.c *.h *.txt y con Makefile 
!*.c 
!*.h 
!Makefile 
!*.txt
!*.cpp
!*.hpp
!*README*
!*make*
!*suite*
!*.asm
!*.s
!*.inc
!*.ld
!*.bochsrc
!*.dts
!*.gitignore
# Unignore all dirs
!*/
*.mod.c
